/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor/*
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache

# カスタマイズしたYoutube.phpを使用する
!/vendor/alaouy/
/vendor/alaouy/*
!/vendor/alaouy/youtube/
/vendor/alaouy/youtube/*
!/vendor/alaouy/youtube/src/
/vendor/alaouy/youtube/src/*
!/vendor/alaouy/youtube/src/Youtube.php

# JSONファイルをGit管理対象外にする
/public/json

# コンパイルしたjsを管理対象外にする
/public/js/app.js