/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor/*
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache

# JSONファイルをGit管理対象外にする
/public/json/*

# コンパイルしたjsを管理対象外にする
/public/js/app.js
